<nav class="navbar-default navbar-static-side" role="navigation" id="sidenav">
  <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
          <li class="nav-header">
            <div style="height: 30px;"></div>
          </li>
          <!-- START OF MAIN MENUS -->
          <li data-toggle="popover" data-content="User Management">
            <a href="{% url 'worklog:index'%}" class="small"><i class="fa fa-user"></i><span class="nav-label">Home</span></a>
          </li>
          <!-- <li ><a href="#" class="small"><i class="fa fa-wrench"></i>Update Configuration</a></li> -->
      </ul>
  </div>
</nav>
