img.logo-image {
    max-width: 35px;
}
div.app-title {
    color: #999c9e !important;
    font-size: 18px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
}
.logo-element {
    padding: 15px 5px 5px 10px;
}
/* Vortex: Admin */
span.merchant-title {
    font-size:20px;
    font-weight: 200;
    color:#757f93;
}
.server-stats {
    font-weight: 100;
}
.server-stats strong {
    font-weight: 500;
}
/* Vortex: AAA Admin */
span.domain-title {
    font-size:20px;
    font-weight: 200;
    color:#757f93;
}
li.nav-header {
    padding-bottom: 0px;
}
a.navbar-minimalize {
    margin: 5px 0px 0px;
}

/*===============================================================*/

#div_loader {
    top: 30%;
}
#div_loader > div.modal-dialog {
    width: 300px;
}
.toast {
    opacity: 1 !important;
}
table th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
td.dataTables_empty {
    text-align: center;
}
tr.row_selected td{
    background-color: #e7e7e7 !important;
}
th.action_btns, td.action_btns {
    width: 80px !important;
    text-align: center;
}
td.bold_link, a.bold_link {
    font-weight: bold;
    color: #337ab7;
}
td.bold_link:hover, a.bold_link:hover {
    color: #23527c;
    cursor: pointer;
}
div.dataTables_wrapper {
    padding-bottom: 5px;
}
ul.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
ul.pagination a {
    padding-top: 5px;
    padding-bottom: 5px;
}
span.pager-icon>button {
    border-right-width: 0;
}

/*datatable search box */
button.btn-search-grp {
    height: 34px;
}
select[name="jo_tblRecords_length"] {
    width: 50px !important;
}

div.panel-heading {
    border-bottom-width: 0px !important;
    padding-bottom: 10px !important;
}


/* SELECT2 styles */
div.select2-container { padding: 0; width: 100%; }
a.select2-choice { height: 33px !important; }
/*a.select2-choice { height: 29px !important; }*/
span.select2-chosen { margin-top: 3px; }


/* selectpicker */
div.bootstrap-select { width: 100% !important; }

/* POPOVER */
.popover {
    max-width: 50%;
    background-color: #18A689;
    border-color: #18A689;
    color: #fff;
}
.popover.right>.arrow:after {
    border-right-color: #18A689;
}
.popover-content {
    /*background-color: #23C6C8; 2 classes dapat, para hindi sapul lahat*/
}

/*scroll up styles*/
a.scroll {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 30px;
    text-align: center;
    width: 45px;
    z-index: 9999;
    color: #fff;
}
a.scroll:hover {
    background: #428bca none repeat scroll 0 0;
    text-decoration: none;
}

a.scrollup {
    bottom: 95px;
}
a.scrolldown {
    bottom: 40px;
}

.dropdown-menu .divider {
	height: 1.1px;
}

div.sp-container.sp-hidden {
    display: none;
}

#jo_tblRecords td {
    max-width: 300px;
    /*overflow: hidden; */
}

#jo_tblRecords td.action_btns button.btn {
    visibility: hidden;
}

div.dataTables_info {
    text-align: left;
}
img.img_prev { max-height: 100px; max-width: 100px; }

.select2-arrow {
    border-left: 0 !important;
}
/*.select2-drop-active {
    width: 200px !important;
}*/
th.cb, td.cb {
    text-align: center;
    width:15px;
}

hr.no-tb-margin {
    margin-top: 5px;
	margin-bottom: 5px;
}

/*tags*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#tbl_tags { margin-bottom: 5px; }
#tbl_tags th.vsmall { width: 30px; }
#tbl_tags td:first-child { font-weight: bold; color: #337ab7; width: 40%; }
hr.small-top { margin-top: 10px; }
i.tag-icon {
    position: relative;
    top: -25px;
    right: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

div.scrollable-info {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Tour */
div.tour-tour {
    background-color: #fff;
    border-color: #999;
    color: #676a6c;
    z-index: 9999 !important;
}
div.tour-tour button.btn-default {
    background-color: #fff;
    color: #676a6c;
}
div.tour-tour div.arrow:after {
    border-right-color: #fff;
}