{% extends 'base_generic.html' %}

{% block title %}Reset New Password{% endblock %}

{% block content %}
<div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
          <div>
              <h1 class="logo-name">Log</h1>
          </div>
      <h3>Netrics</h3>

          <p>Enter New Password</p>
          <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Change Password</button>
          </form>
      </div>
  </div>

{% endblock %}
